* {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar */

.navbar {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    box-shadow: inset 0 0 25px 0 gray,
    0 0 25px 0 gray;
}

.link {
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px 25px;
}

.link.login {
    color: cyan;
}

.link.login:hover{
    color: rgb(78, 255, 255);
    text-shadow:
      0 0 10px cyan,
      0 0 15px cyan,
      0 0 25px cyan
}

.link.register {
    color: fuchsia;
}

.link.register:hover {
    color:rgb(255, 103, 255);
    text-shadow:
      0 0 10px fuchsia,
      0 0 15px fuchsia,
      0 0 25px fuchsia
}

.link.home {
    color:rgb(255, 75, 75);
}

.link.home:hover {
    color:rgb(255, 160, 160);
    text-shadow:
      0 0 7px rgb(255, 75, 75),
      0 0 10px rgb(255, 75, 75),
      0 0 21px rgb(255, 75, 75)
}

.link.profile {
    color:lawngreen;
}

.link.profile:hover {
    color:rgb(192, 255, 129);
    text-shadow:
      0 0 7px lawngreen,
      0 0 10px lawngreen,
      0 0 21px lawngreen
}

.link.leaderboard {
    color:yellow;
}

.link.leaderboard:hover {
    color:rgb(255, 255, 122);
    text-shadow:
      0 0 7px yellow,
      0 0 10px yellow,
      0 0 21px yellow
}

/* Home title */

.title {
    margin-top: 350px;
    color:rgb(255, 160, 160);
    text-shadow:
      0 0 7px rgb(255, 75, 75),
      0 0 10px rgb(255, 75, 75),
      0 0 21px rgb(255, 75, 75),
      0 0 42px lightcoral,
      0 0 82px lightcoral,
      0 0 92px lightcoral,
      0 0 102px lightcoral,
      0 0 151px lightcoral;
    font-size: 75px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Form => login/register */

.form-container {
    border-radius: 20px;
    background: transparent;
    margin-top: 150px;
    padding: 75px 100px;
}

.form-container.register {
    border: 3px solid fuchsia;
    box-shadow: inset 0 0 50px 0 fuchsia,
    0 0 150px 0 fuchsia;
}

.form-container.login {
    border: 3px solid cyan;
    box-shadow: inset 0 0 50px 0 cyan,
    0 0 150px 0 cyan;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

.form-group-item {
    margin: 10px 0px;
}

.form-group h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
}

h2.register {
    color: fuchsia;
}

h2.login {
    color: cyan;
}

.input {
    color: white;
    margin: 15px 0px;
    width: 250px;
    height: 50px;
    font-size: 20px;
}

input::placeholder {
    color: white;
}

input:focus::placeholder {
    color: transparent;
}

.input.register {
    border-bottom: 2px solid fuchsia;
}

.input.login {
    border-bottom: 2px solid cyan;
}

input {
    border: none;
    outline: none;
    background: transparent;
}

.btn {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 15px 35px;
    margin-top: 45px;
    border-radius: 20px;
    background: rgb(59, 59, 59);
}

.btn.register {
    border: 2px solid fuchsia;
    color: fuchsia;
}

.btn.login {
    border: 2px solid cyan;
    color: cyan;
}

.btn.register:hover {
    box-shadow: 0 0 25px 0 fuchsia;
    background-color: fuchsia;
    color:black;
    text-shadow:
      0 0 5px  fuchsia,
      0 0 10px fuchsia,
      0 0 15px fuchsia
}

.btn.login:hover {
    box-shadow: 0 0 25px 0 cyan;
    background-color: cyan;
    color: black;
    text-shadow:
      0 0 5px cyan,
      0 0 10px cyan,
      0 0 15px cyan
}

.label {
    position: absolute;
    margin-top: 30px;
    margin-left: -250px;
    color: white;
    pointer-events: none;
    font-size: 20px;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label {
    margin-top: 0px;
    font-size: 15px;
}

/* Button logout */

.btn.logout {
    position: absolute;
    margin-top: 0px;
    margin-left: 85%;
    color: red;
    border: 2px solid red;
    padding: 10px 20px;
}

.btn.logout:hover {
    box-shadow: 0 0 25px 0 red;
    background-color: red;
    color: black;
    text-shadow:
      0 0 5px red,
      0 0 10px red,
      0 0 20px red
}

/* Profile */



/* Leaderboard */

.leaderboard-main-title {
    text-align: center;
    margin: 50px 0px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(255, 160, 160);
    text-shadow:
      0 0 7px rgb(255, 75, 75),
      0 0 10px rgb(255, 75, 75),
      0 0 21px rgb(255, 75, 75);
}

.main-leaderboard-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 25px;
    width: 850px;
    height: 500px;
}

.leaderboard-titles {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    border-bottom: 2px solid white;
    width: 100%;
}

.username-title {
    width: 20%;
    text-align: center;
    color: rgb(0, 217, 255);
    padding: 10px 0px;
    border-right: 1px solid white;
}

.score-title {
    width: 20%;
    text-align: center;
    color: coral;
    padding: 10px 0px;
    border-right: 1px solid white;
}

.accuracy-title {
    width: 20%;
    text-align: center;
    color:rgb(170, 0, 255);
    padding: 10px 0px;
    border-right: 1px solid white;
}

.combo-title {
    width: 20%;
    text-align: center;
    color:rgb(187, 255, 0);
    padding: 10px 0px;
    border-right: 1px solid white;
}

.rank-title {
    width: 20%;
    text-align: center;
    color:rgb(0, 255, 98);
    padding: 10px 0px;
}

.leaderboard-box {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.leaderboard-username {
    padding: 5px 0px;
    color: rgb(106, 233, 255);
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.leaderboard-score {
    padding: 5px 0px;
    color: rgb(255, 168, 137);
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.leaderboard-accuracy {
    padding: 5px 0px;
    color: rgb(201, 97, 253);
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.leaderboard-combo {
    padding: 5px 0px;
    color: rgb(228, 255, 155);
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}


.leaderboard-rank {
    padding: 5px 0px;
    color: rgb(146, 255, 200);
    border-bottom: 1px solid white;
}

.username-box {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.score-box {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.accuracy-box {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.highest-combo-box {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.rank-box {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
}